Repository RdHamilton/MTGA-Companion: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, frontend

Add date validation for CompareMatches and time period ordering
  internal/api/handlers/match.go
Due: unittests

Fix StatsFilter type assertion in test mock
  frontend/src/components/MatchComparisonPanel.test.tsx
Due: frontend

Fix useRotationNotifications hook to prevent state updates after unmount (#843) (#860)
  frontend/src/hooks/useRotationNotifications.test.ts
  frontend/src/hooks/useRotationNotifications.ts
Due: frontend

Fix ESLint exhaustive-deps and add aria-labels to turn buttons
  frontend/src/components/GamePlayTimelinePanel.tsx
Due: frontend

Add Game Play Timeline UI to Match Details (#812) (#861)
  frontend/src/components/GamePlayTimelinePanel.css
  frontend/src/components/GamePlayTimelinePanel.test.tsx
  frontend/src/components/GamePlayTimelinePanel.tsx
  frontend/src/components/MatchDetailsModal.test.tsx
  frontend/src/components/MatchDetailsModal.tsx
Due: frontend

Add deck creation tracking for ML training (#818) (#862)
  internal/storage/migrations/000036_add_deck_creation_tracking.down.sql
  internal/storage/migrations/000036_add_deck_creation_tracking.up.sql
  internal/storage/models/models.go
  internal/storage/repository/deck_performance_repo_test.go
  internal/storage/repository/deck_permutation_repo_test.go
  internal/storage/repository/deck_repo.go
  internal/storage/repository/deck_repo_test.go
  internal/storage/service_deck_test.go
Due: unittests

Add match comparison functionality (#162) (#863)
  frontend/src/components/MatchComparisonPanel.css
  frontend/src/components/MatchComparisonPanel.test.tsx
  frontend/src/components/MatchComparisonPanel.tsx
  frontend/src/services/api/matches.ts
  internal/api/handlers/match.go
  internal/api/router.go
  internal/gui/match_facade.go
  internal/storage/match_comparison.go
Due: unittests, frontend

Integrate ChannelFireball card ratings into recommendations (#817)
  internal/api/handlers/cfb.go
  internal/api/router.go
  internal/gui/card_facade.go
  internal/mtga/cards/cfb/importer.go
  internal/mtga/recommendations/engine.go
  internal/storage/migrations/000037_add_cfb_ratings.down.sql
  internal/storage/migrations/000037_add_cfb_ratings.up.sql
  internal/storage/models/cfb_ratings.go
  internal/storage/models/cfb_ratings_test.go
  internal/storage/repository/cfb_ratings_repo.go
  internal/storage/service.go
Due: unittests

Add CFB ratings frontend display in TierList
  .gitignore
  frontend/src/components/CFBRatingBadge.css
  frontend/src/components/CFBRatingBadge.test.tsx
  frontend/src/components/CFBRatingBadge.tsx
  frontend/src/components/TierList.css
  frontend/src/components/TierList.test.tsx
  frontend/src/components/TierList.tsx
  frontend/src/services/api/cards.ts
  frontend/src/test/mocks/apiMock.ts
Due: frontend

Fix TypeScript type imports for verbatimModuleSyntax
  frontend/src/components/CFBRatingBadge.test.tsx
  frontend/src/components/CFBRatingBadge.tsx
  frontend/src/components/TierList.tsx
Due: frontend

Fix MatchDetailsModal.test.tsx type errors - use correct model properties
  frontend/src/components/MatchDetailsModal.test.tsx
Due: frontend

Fix GamePlayTimelinePanel test button queries to use aria-label names
  frontend/src/components/GamePlayTimelinePanel.test.tsx
Due: frontend

Integrate ChannelFireball card ratings into recommendations (#817) (#865)
  .gitignore
  frontend/src/components/CFBRatingBadge.css
  frontend/src/components/CFBRatingBadge.test.tsx
  frontend/src/components/CFBRatingBadge.tsx
  frontend/src/components/GamePlayTimelinePanel.test.tsx
  frontend/src/components/MatchDetailsModal.test.tsx
  frontend/src/components/TierList.css
  frontend/src/components/TierList.test.tsx
  frontend/src/components/TierList.tsx
  frontend/src/services/api/cards.ts
  frontend/src/test/mocks/apiMock.ts
  internal/api/handlers/cfb.go
  internal/api/router.go
  internal/gui/card_facade.go
  internal/mtga/cards/cfb/importer.go
  internal/mtga/recommendations/engine.go
  internal/storage/migrations/000037_add_cfb_ratings.down.sql
  internal/storage/migrations/000037_add_cfb_ratings.up.sql
  internal/storage/models/cfb_ratings.go
  internal/storage/models/cfb_ratings_test.go
  internal/storage/repository/cfb_ratings_repo.go
  internal/storage/service.go
Due: unittests, frontend

Add card price integration from Scryfall (#144)
  frontend/src/pages/Collection.css
  frontend/src/pages/Collection.test.tsx
  frontend/src/pages/Collection.tsx
  frontend/src/services/api/collection.ts
  frontend/src/test/mocks/apiMock.ts
  frontend/src/types/models.ts
  internal/api/handlers/collection.go
  internal/api/handlers/collection_test.go
  internal/api/router.go
  internal/gui/collection_facade.go
  internal/gui/collection_facade_autofetch_test.go
  internal/gui/collection_facade_test.go
  internal/mtga/cards/setcache/fetcher.go
  internal/storage/migrations/000038_add_card_prices.down.sql
  internal/storage/migrations/000038_add_card_prices.up.sql
  internal/storage/models/models.go
  internal/storage/repository/setcard_repo.go
  internal/storage/repository/setcard_repo_test.go
Due: unittests, frontend

Add card price integration from Scryfall (#144) (#866)
  frontend/src/pages/Collection.css
  frontend/src/pages/Collection.test.tsx
  frontend/src/pages/Collection.tsx
  frontend/src/services/api/collection.ts
  frontend/src/test/mocks/apiMock.ts
  frontend/src/types/models.ts
  internal/api/handlers/collection.go
  internal/api/handlers/collection_test.go
  internal/api/router.go
  internal/gui/collection_facade.go
  internal/gui/collection_facade_autofetch_test.go
  internal/gui/collection_facade_test.go
  internal/mtga/cards/setcache/fetcher.go
  internal/storage/migrations/000038_add_card_prices.down.sql
  internal/storage/migrations/000038_add_card_prices.up.sql
  internal/storage/models/models.go
  internal/storage/repository/setcard_repo.go
  internal/storage/repository/setcard_repo_test.go
Due: unittests, frontend

Add automatic set metadata sync from Scryfall (#815)
  internal/gui/system_facade.go
  internal/mtga/cards/setcache/set_sync.go
  internal/mtga/cards/setcache/set_sync_test.go
  internal/storage/cards.go
Due: unittests

Address CodeRabbit review feedback
  internal/mtga/cards/setcache/set_sync.go
  internal/storage/cards.go
Due: unittests

Add automatic set metadata sync from Scryfall (#815) (#864)
  internal/gui/system_facade.go
  internal/mtga/cards/setcache/set_sync.go
  internal/mtga/cards/setcache/set_sync_test.go
  internal/storage/cards.go
Due: unittests

Add Archidekt integration for card co-occurrence synergy analysis
  internal/mtga/recommendations/engine.go
  internal/mtga/synergy/archidekt.go
  internal/mtga/synergy/archidekt_test.go
  internal/mtga/synergy/cooccurrence.go
  internal/mtga/synergy/cooccurrence_test.go
  internal/storage/migrations/000039_add_card_cooccurrence.down.sql
  internal/storage/migrations/000039_add_card_cooccurrence.up.sql
  internal/storage/models/cooccurrence.go
  internal/storage/repository/cooccurrence_repo.go
Due: unittests

Add EDHREC integration for Commander synergy data (#826)
  internal/mtga/recommendations/engine.go
  internal/mtga/synergy/edhrec.go
  internal/mtga/synergy/edhrec_test.go
  internal/storage/migrations/000040_add_edhrec_synergy.down.sql
  internal/storage/migrations/000040_add_edhrec_synergy.up.sql
  internal/storage/models/edhrec.go
  internal/storage/models/edhrec_test.go
  internal/storage/repository/edhrec_repo.go
  internal/storage/repository/edhrec_repo_test.go
Due: unittests

Integrate MTGZone archetype data into recommendations (#827)
  internal/mtga/recommendations/engine.go
  internal/mtga/synergy/mtgzone.go
  internal/mtga/synergy/mtgzone_test.go
  internal/storage/migrations/000041_add_mtgzone_archetypes.down.sql
  internal/storage/migrations/000041_add_mtgzone_archetypes.up.sql
  internal/storage/models/mtgzone.go
  internal/storage/models/mtgzone_test.go
  internal/storage/repository/mtgzone_repo.go
  internal/storage/repository/mtgzone_repo_test.go
Due: unittests

Add card embeddings for semantic similarity (#828)
  internal/mtga/embeddings/generator.go
  internal/mtga/embeddings/generator_test.go
  internal/mtga/embeddings/service.go
  internal/mtga/embeddings/service_test.go
  internal/mtga/recommendations/engine.go
  internal/mtga/recommendations/engine_test.go
  internal/storage/migrations/000039_add_card_embeddings.down.sql
  internal/storage/migrations/000039_add_card_embeddings.up.sql
  internal/storage/models/embedding.go
  internal/storage/repository/embedding_repo.go
Due: unittests

Add advanced draft analytics system (#115, #120, #121, #122, #180)
  internal/mtga/draft/analytics/archetype_performance.go
  internal/mtga/draft/analytics/archetype_performance_test.go
  internal/mtga/draft/analytics/community_comparison.go
  internal/mtga/draft/analytics/community_comparison_test.go
  internal/mtga/draft/analytics/pattern_analyzer.go
  internal/mtga/draft/analytics/pattern_analyzer_test.go
  internal/mtga/draft/analytics/temporal_trends.go
  internal/mtga/draft/analytics/temporal_trends_test.go
  internal/mtga/recommendations/deck_suggester.go
  internal/mtga/recommendations/deck_suggester_test.go
  internal/storage/migrations/000039_add_draft_analytics.down.sql
  internal/storage/migrations/000039_add_draft_analytics.up.sql
  internal/storage/models/draft_analytics.go
  internal/storage/repository/draft_analytics_repo.go
  internal/storage/repository/draft_analytics_repo_test.go
Due: unittests

Address CodeRabbit review comments for draft analytics
  internal/mtga/draft/analytics/archetype_performance.go
  internal/mtga/draft/analytics/community_comparison.go
  internal/mtga/draft/analytics/community_comparison_test.go
  internal/mtga/draft/analytics/pattern_analyzer.go
  internal/mtga/draft/analytics/temporal_trends.go
  internal/storage/migrations/000039_add_draft_analytics.up.sql
  internal/storage/models/draft_analytics.go
Due: unittests

Add advanced draft analytics system (#115, #120, #121, #122, #180) (#871)
  internal/mtga/draft/analytics/archetype_performance.go
  internal/mtga/draft/analytics/archetype_performance_test.go
  internal/mtga/draft/analytics/community_comparison.go
  internal/mtga/draft/analytics/community_comparison_test.go
  internal/mtga/draft/analytics/pattern_analyzer.go
  internal/mtga/draft/analytics/pattern_analyzer_test.go
  internal/mtga/draft/analytics/temporal_trends.go
  internal/mtga/draft/analytics/temporal_trends_test.go
  internal/mtga/recommendations/deck_suggester.go
  internal/mtga/recommendations/deck_suggester_test.go
  internal/storage/migrations/000039_add_draft_analytics.down.sql
  internal/storage/migrations/000039_add_draft_analytics.up.sql
  internal/storage/models/draft_analytics.go
  internal/storage/repository/draft_analytics_repo.go
  internal/storage/repository/draft_analytics_repo_test.go
Due: unittests

Add Archidekt integration for card co-occurrence synergy analysis (#867)
  internal/mtga/recommendations/engine.go
  internal/mtga/synergy/archidekt.go
  internal/mtga/synergy/archidekt_test.go
  internal/mtga/synergy/cooccurrence.go
  internal/mtga/synergy/cooccurrence_test.go
  internal/storage/migrations/000039_add_card_cooccurrence.down.sql
  internal/storage/migrations/000039_add_card_cooccurrence.up.sql
  internal/storage/models/cooccurrence.go
  internal/storage/repository/cooccurrence_repo.go
Due: unittests

Add EDHREC integration for Commander synergy data (#826) (#868)
  internal/mtga/recommendations/engine.go
  internal/mtga/synergy/edhrec.go
  internal/mtga/synergy/edhrec_test.go
  internal/storage/migrations/000040_add_edhrec_synergy.down.sql
  internal/storage/migrations/000040_add_edhrec_synergy.up.sql
  internal/storage/models/edhrec.go
  internal/storage/models/edhrec_test.go
  internal/storage/repository/edhrec_repo.go
  internal/storage/repository/edhrec_repo_test.go
Due: unittests

Integrate MTGZone archetype data into recommendations (#827) (#869)
  internal/mtga/recommendations/engine.go
  internal/mtga/synergy/mtgzone.go
  internal/mtga/synergy/mtgzone_test.go
  internal/storage/migrations/000041_add_mtgzone_archetypes.down.sql
  internal/storage/migrations/000041_add_mtgzone_archetypes.up.sql
  internal/storage/models/mtgzone.go
  internal/storage/models/mtgzone_test.go
  internal/storage/repository/mtgzone_repo.go
  internal/storage/repository/mtgzone_repo_test.go
Due: unittests

Add card embeddings for semantic similarity (#828) (#870)
  internal/mtga/embeddings/generator.go
  internal/mtga/embeddings/generator_test.go
  internal/mtga/embeddings/service.go
  internal/mtga/embeddings/service_test.go
  internal/mtga/recommendations/engine.go
  internal/mtga/recommendations/engine_test.go
  internal/storage/migrations/000039_add_card_embeddings.down.sql
  internal/storage/migrations/000039_add_card_embeddings.up.sql
  internal/storage/models/embedding.go
  internal/storage/repository/embedding_repo.go
Due: unittests

Fix migration numbering and integrate all synergy sources
  internal/mtga/recommendations/engine.go
  internal/storage/migrations/000042_add_draft_analytics.down.sql
  internal/storage/migrations/000042_add_draft_analytics.up.sql
  internal/storage/migrations/000043_add_card_embeddings.down.sql
  internal/storage/migrations/000043_add_card_embeddings.up.sql
Due: unittests

Fix migration numbering and integrate all synergy sources (#872)
  internal/mtga/recommendations/engine.go
  internal/storage/migrations/000042_add_draft_analytics.down.sql
  internal/storage/migrations/000042_add_draft_analytics.up.sql
  internal/storage/migrations/000043_add_card_embeddings.down.sql
  internal/storage/migrations/000043_add_card_embeddings.up.sql
Due: unittests

Add Flight Recorder for daemon debugging (Go 1.25+)
  internal/daemon/flight_recorder.go
  internal/daemon/flight_recorder_test.go
  internal/daemon/service.go
Due: unittests

Add GC benchmarks for greenteagc comparison
  benchmarks/gc_bench_test.go
  benchmarks/run_gc_comparison.sh
Due: none

Add JSON v1 vs v2 benchmarks for performance comparison
  benchmarks/json_bench_test.go
  benchmarks/run_json_comparison.sh
Due: none

Rename filepath variable to avoid shadowing package
  internal/daemon/flight_recorder.go
Due: unittests

Fix formatFloat and clarify SetParallelism usage
  benchmarks/gc_bench_test.go
Due: none

Clarify benchstat percentage interpretation in guide
  benchmarks/run_json_comparison.sh
Due: none

Address additional CodeRabbit review feedback
  internal/daemon/flight_recorder.go
  internal/daemon/flight_recorder_test.go
Due: unittests

Add GC benchmarks for greenteagc comparison (#795) (#874)
  benchmarks/gc_bench_test.go
  benchmarks/run_gc_comparison.sh
Due: none

Add JSON v1 vs v2 benchmarks (#793) (#875)
  benchmarks/json_bench_test.go
  benchmarks/run_json_comparison.sh
Due: none

Path conditions:
  unittests: any of: internal/, cmd/
  frontend: any of: frontend/src/
