Repository RdHamilton/MTGA-Companion: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, frontend

Add Flight Recorder for daemon debugging (#794) (#873)
  internal/daemon/flight_recorder.go
  internal/daemon/flight_recorder_test.go
  internal/daemon/service.go
Due: unittests

Update documentation for Go 1.25 features
  CHANGELOG.md
  README.md
Due: none

docs: Add comprehensive v1.4.1 features to CHANGELOG and README
  CHANGELOG.md
  README.md
Due: none

docs: Update ARCHITECTURE.md and go-1.25-features.md for v1.4.1
  docs/ARCHITECTURE.md
  docs/go-1.25-features.md
Due: none

Update documentation for Go 1.25 features (#876)
  CHANGELOG.md
  README.md
  docs/ARCHITECTURE.md
  docs/go-1.25-features.md
Due: none

Update documentation for Go 1.25 features
  CHANGELOG.md
Due: none

Fix Build Around missing archetype selector when using deck cards
  frontend/src/components/BuildAroundSeedModal.css
  frontend/src/components/BuildAroundSeedModal.tsx
  frontend/src/pages/DeckBuilder.test.tsx
  frontend/src/services/api/decks.ts
Due: frontend

Path conditions:
  unittests: any of: internal/, cmd/
  frontend: any of: frontend/src/
