Repository RdHamilton/MTGA-Companion: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, frontend

codecov.yml:

# Codecov configuration
# https://docs.codecov.com/docs/codecovyml-reference

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%  # Allow 1% decrease from base
    patch:
      default:
        target: 50%  # Require 50% coverage on new code
        threshold: 5%  # Allow 5% variance

  # Exclude test files and generated code from coverage
  ignore:
    - "**/*_test.go"
    - "**/test/**"
    - "**/mocks/**"
    - "frontend/src/test/**"

# Flags for different test suites
flags:
  unittests:
    paths:
      - internal/
      - cmd/
    carryforward: true
  frontend:
    paths:
      - frontend/src/
    carryforward: true

# Comment configuration for PRs
comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: true

Fix TypeScript build error - DeckCard has no Name property
  frontend/src/components/BuildAroundSeedModal.tsx
Due: frontend

Fix E2E test waiting for DeckBuilder to fully load
  frontend/tests/e2e/pipeline.spec.ts
Due: none

Address CodeRabbit review feedback
  frontend/src/components/BuildAroundSeedModal.css
  frontend/src/components/BuildAroundSeedModal.test.tsx
  frontend/src/components/BuildAroundSeedModal.tsx
  internal/mtga/recommendations/seed_deck_builder.go
Due: unittests, frontend

Make E2E tests resilient to deck load errors
  frontend/tests/e2e/pipeline.spec.ts
Due: none

Fix DeckBuilder crash when statistics don't exist
  frontend/src/pages/DeckBuilder.tsx
Due: frontend

Handle NULL database columns in Set models
  frontend/src/components/BuildAroundSeedModal.css
  frontend/src/components/BuildAroundSeedModal.test.tsx
  frontend/src/components/BuildAroundSeedModal.tsx
  frontend/src/components/CardSearch.css
  frontend/src/components/CardSearch.test.tsx
  frontend/src/components/CardSearch.tsx
  frontend/src/components/DeckList.css
  frontend/src/components/DeckList.test.tsx
  frontend/src/components/DeckList.tsx
  frontend/src/components/SetSymbol.tsx
  frontend/src/pages/DeckBuilder.test.tsx
  frontend/src/pages/DeckBuilder.tsx
  frontend/src/services/api/__tests__/cards.test.ts
  frontend/src/services/api/__tests__/decks.test.ts
  frontend/src/services/api/cards.ts
  frontend/src/services/api/decks.ts
  frontend/src/services/apiClient.ts
  frontend/src/test/msw/handlers.ts
  frontend/tests/e2e/draft.spec.ts
  internal/api/handlers/deck.go
  internal/api/handlers/deck_test.go
  internal/api/router.go
  internal/gui/card_facade.go
  internal/gui/deck_facade.go
  internal/gui/deck_facade_test.go
  internal/mtga/cards/scryfall/collection.go
  internal/mtga/cards/setcache/fetcher.go
  internal/mtga/cards/setcache/fetcher_test.go
  internal/mtga/cards/seventeenlands/models.go
  internal/mtga/recommendations/seed_deck_builder.go
  internal/storage/cards.go
  internal/storage/migrations/000031_add_draft_ratings_urls.down.sql
  internal/storage/migrations/000031_add_draft_ratings_urls.up.sql
  internal/storage/models/standard_models.go
  internal/storage/repository/deck_repo.go
  internal/storage/repository/deck_repo_test.go
  internal/storage/repository/draft_ratings_repo.go
  internal/storage/repository/setcard_repo.go
  internal/storage/repository/setcard_repo_test.go
  internal/storage/repository/standard_repo.go
Due: unittests, frontend

Handle all nullable columns in Set models
  internal/gui/card_facade.go
  internal/storage/cards.go
  internal/storage/models/standard_models.go
  internal/storage/repository/standard_repo.go
Due: unittests

Add hover preview and copy recommendations to Build Around
  frontend/src/components/BuildAroundSeedModal.css
  frontend/src/components/BuildAroundSeedModal.tsx
  frontend/src/services/api/decks.ts
  internal/mtga/recommendations/seed_deck_builder.go
Due: unittests, frontend

Fix recommended copies showing 0 in Build Around
  frontend/src/components/BuildAroundSeedModal.tsx
  internal/mtga/recommendations/seed_deck_builder.go
Due: unittests, frontend

Fix hover preview positioning and card copy tracking
  frontend/src/components/BuildAroundSeedModal.tsx
  frontend/src/pages/DeckBuilder.tsx
Due: frontend

Enhance visual indicator for cards already in deck
  frontend/src/components/BuildAroundSeedModal.css
Due: frontend

Add copy selection modal to Build Around suggestions
  frontend/src/components/BuildAroundSeedModal.css
  frontend/src/components/BuildAroundSeedModal.test.tsx
  frontend/src/components/BuildAroundSeedModal.tsx
Due: frontend

Add comprehensive tests for Build Around copy selection modal
  frontend/src/components/BuildAroundSeedModal.test.tsx
  frontend/tests/e2e/decks.spec.ts
Due: frontend

Add Build Around Card feature for deck building (#767) (#813)
  frontend/src/components/BuildAroundSeedModal.css
  frontend/src/components/BuildAroundSeedModal.test.tsx
  frontend/src/components/BuildAroundSeedModal.tsx
  frontend/src/pages/DeckBuilder.test.tsx
  frontend/src/pages/DeckBuilder.tsx
  frontend/src/services/api/decks.ts
  frontend/src/test/msw/handlers.ts
  frontend/tests/e2e/decks.spec.ts
  frontend/tests/e2e/pipeline.spec.ts
  internal/api/handlers/deck.go
  internal/api/router.go
  internal/gui/deck_facade.go
  internal/mtga/recommendations/seed_deck_builder.go
  internal/mtga/recommendations/seed_deck_builder_test.go
Due: unittests, frontend

Fix TypeScript errors in test mocks
  frontend/src/components/BuildAroundSeedModal.test.tsx
  frontend/src/components/DeckList.test.tsx
  frontend/src/components/DeckList.tsx
  frontend/src/pages/DeckBuilder.test.tsx
Due: frontend

Fix TypeScript error and address CodeRabbit feedback
  frontend/src/components/SetSymbol.tsx
  frontend/src/pages/DeckBuilder.test.tsx
  frontend/src/pages/DeckBuilder.tsx
Due: frontend

Fix handleAddOneCard to log non-400 errors
  frontend/src/pages/DeckBuilder.tsx
Due: frontend

Add detailed score breakdown and synergy visibility for card suggestions (#816)
  frontend/src/components/BuildAroundSeedModal.css
  frontend/src/components/BuildAroundSeedModal.test.tsx
  frontend/src/components/BuildAroundSeedModal.tsx
  frontend/src/services/api/decks.ts
  internal/mtga/recommendations/deck_suggester.go
  internal/mtga/recommendations/engine.go
  internal/mtga/recommendations/seed_deck_builder.go
  internal/mtga/recommendations/seed_deck_builder_test.go
Due: unittests, frontend

Add clarifying comment for unused fields in scoredCard struct
  internal/mtga/recommendations/deck_suggester.go
Due: unittests

Fix Build Around modal regression - restore useDeckCardsAsSeed prop
  frontend/vite.config.ts
Due: none

Fix gofumpt formatting in deck_suggester.go
  internal/mtga/recommendations/deck_suggester.go
Due: unittests

Add detailed score breakdown and synergy visibility for card suggestions (#816) (#819)
  frontend/src/components/BuildAroundSeedModal.css
  frontend/src/components/BuildAroundSeedModal.test.tsx
  frontend/src/components/BuildAroundSeedModal.tsx
  frontend/src/services/api/decks.ts
  frontend/vite.config.ts
  internal/mtga/recommendations/deck_suggester.go
  internal/mtga/recommendations/engine.go
  internal/mtga/recommendations/seed_deck_builder.go
  internal/mtga/recommendations/seed_deck_builder_test.go
Due: unittests, frontend

Fix multi-type creature synergy scoring (#821)
  internal/mtga/recommendations/seed_deck_builder.go
  internal/mtga/recommendations/seed_deck_builder_test.go
Due: unittests

Expand oracle text pattern detection (#822)
  internal/mtga/recommendations/engine.go
  internal/mtga/recommendations/engine_test.go
Due: unittests

Fix multi-type creature synergy scoring (#821) (#830)
  internal/mtga/recommendations/seed_deck_builder.go
  internal/mtga/recommendations/seed_deck_builder_test.go
Due: unittests

Expand oracle text pattern detection (#822) (#831)
  internal/mtga/recommendations/engine.go
  internal/mtga/recommendations/engine_test.go
Due: unittests

Add comprehensive creature type/tribal database (#823)
  internal/mtga/recommendations/seed_deck_builder.go
  internal/mtga/recommendations/seed_deck_builder_test.go
  internal/mtga/recommendations/tribal.go
  internal/mtga/recommendations/tribal_test.go
Due: unittests

Add combo/chain detection for multi-card synergies (#824)
  internal/mtga/recommendations/combos.go
  internal/mtga/recommendations/combos_test.go
Due: unittests

Fix changeling handling consistency between seed and deck scoring
  internal/mtga/recommendations/seed_deck_builder.go
Due: unittests

Add comprehensive creature type/tribal database (#823) (#832)
  internal/mtga/recommendations/seed_deck_builder.go
  internal/mtga/recommendations/seed_deck_builder_test.go
  internal/mtga/recommendations/tribal.go
  internal/mtga/recommendations/tribal_test.go
Due: unittests

Add archetype classification and detection (#829)
  internal/mtga/recommendations/archetypes.go
  internal/mtga/recommendations/archetypes_test.go
Due: unittests

Fix test assertions to not silently pass when package not found
  internal/mtga/recommendations/combos_test.go
Due: unittests

Add archetype classification and detection (#829) (#834)
  internal/mtga/recommendations/archetypes.go
  internal/mtga/recommendations/archetypes_test.go
Due: unittests

Add Stop method to API WebSocket Hub for graceful shutdown (#800)
  internal/api/websocket/hub.go
  internal/api/websocket/hub_test.go
Due: unittests

Add combo/chain detection for multi-card synergies (#824) (#833)
  internal/mtga/recommendations/combos.go
  internal/mtga/recommendations/combos_test.go
Due: unittests

Add comprehensive tests for replay_engine.go (#799)
  internal/daemon/replay_engine_test.go
Due: unittests

Fix race conditions and make Stop() idempotent
  internal/api/websocket/hub.go
  internal/api/websocket/hub_test.go
Due: unittests

Add comprehensive tests for replay_engine.go (#799) (#836)
  internal/daemon/replay_engine_test.go
Due: unittests

Add archetype classification to deck list display
  frontend/src/pages/Decks.css
  frontend/src/pages/Decks.test.tsx
  frontend/src/pages/Decks.tsx
  frontend/src/types/models.ts
  internal/gui/deck_facade.go
Due: unittests, frontend
