Repository RdHamilton/MTGA-Companion: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, frontend

codecov.yml:

# Codecov configuration
# https://docs.codecov.com/docs/codecovyml-reference

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%  # Allow 1% decrease from base
    patch:
      default:
        target: 50%  # Require 50% coverage on new code
        threshold: 5%  # Allow 5% variance

  # Exclude test files and generated code from coverage
  ignore:
    - "**/*_test.go"
    - "**/test/**"
    - "**/mocks/**"
    - "frontend/src/test/**"

# Flags for different test suites
flags:
  unittests:
    paths:
      - internal/
      - cmd/
    carryforward: true
  frontend:
    paths:
      - frontend/src/
    carryforward: true

# Comment configuration for PRs
comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: true

Add Stop method to API WebSocket Hub for graceful shutdown (#800) (#835)
  internal/api/websocket/hub.go
  internal/api/websocket/hub_test.go
Due: unittests

Fix API route mismatches between frontend and backend
  frontend/src/services/api/__tests__/cards.test.ts
  frontend/src/services/api/__tests__/decks.test.ts
  frontend/src/services/api/cards.ts
  frontend/src/services/api/collection.ts
  frontend/src/services/api/decks.ts
  frontend/src/services/api/meta.ts
Due: frontend

Add comprehensive test coverage for Standard handler (#802)
  internal/api/handlers/standard_test.go
Due: unittests

Fix API route mismatches between frontend and backend (#838)
  frontend/src/services/api/__tests__/cards.test.ts
  frontend/src/services/api/__tests__/decks.test.ts
  frontend/src/services/api/cards.ts
  frontend/src/services/api/collection.ts
  frontend/src/services/api/decks.ts
  frontend/src/services/api/meta.ts
Due: frontend

Add comprehensive test coverage for Standard handler (#802) (#839)
  internal/api/handlers/standard_test.go
Due: unittests

Add set rotation notifications (#803)
  frontend/src/components/RotationBanner.css
  frontend/src/components/RotationBanner.test.tsx
  frontend/src/components/RotationBanner.tsx
  frontend/src/components/settings/sections/AppPreferencesSection.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/useRotationNotifications.test.ts
  frontend/src/hooks/useRotationNotifications.ts
  frontend/src/hooks/useSettings.ts
  frontend/src/pages/Decks.tsx
  frontend/src/pages/Settings.tsx
  frontend/src/types/models.ts
Due: frontend

Add banned cards detection and legality banner (#841)
  frontend/src/components/LegalityBanner.css
  frontend/src/components/LegalityBanner.test.tsx
  frontend/src/components/LegalityBanner.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/useDeckValidation.test.ts
  frontend/src/hooks/useDeckValidation.ts
  frontend/src/pages/DeckBuilder.tsx
Due: frontend

Fix AppPreferencesSection tests with rotation notification props
  frontend/src/components/settings/sections/AppPreferencesSection.test.tsx
Due: frontend

Fix nil pointer dereference in GetDraftGrade
  internal/gui/draft_facade.go
Due: unittests

Add archetype classification to deck list display (#837)
  frontend/src/pages/Decks.css
  frontend/src/pages/Decks.test.tsx
  frontend/src/pages/Decks.tsx
  frontend/src/types/models.ts
  internal/gui/deck_facade.go
Due: unittests, frontend

Add banned cards detection and legality banner (#841) (#842)
  frontend/src/components/LegalityBanner.css
  frontend/src/components/LegalityBanner.test.tsx
  frontend/src/components/LegalityBanner.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/useDeckValidation.test.ts
  frontend/src/hooks/useDeckValidation.ts
  frontend/src/pages/DeckBuilder.tsx
Due: frontend

Add standard rotation data to E2E test fixtures
  frontend/tests/e2e/fixtures/test-data.sql
Due: none

Add set rotation notifications (#803) (#840)
  frontend/src/components/RotationBanner.css
  frontend/src/components/RotationBanner.test.tsx
  frontend/src/components/RotationBanner.tsx
  frontend/src/components/settings/sections/AppPreferencesSection.test.tsx
  frontend/src/components/settings/sections/AppPreferencesSection.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/useRotationNotifications.test.ts
  frontend/src/hooks/useRotationNotifications.ts
  frontend/src/hooks/useSettings.ts
  frontend/src/pages/Decks.tsx
  frontend/src/pages/Settings.tsx
  frontend/src/types/models.ts
  frontend/tests/e2e/fixtures/test-data.sql
  internal/gui/draft_facade.go
Due: unittests, frontend

Add complete deck generation from seed card (#774)
  frontend/src/components/BuildAroundSeedModal.css
  frontend/src/components/BuildAroundSeedModal.test.tsx
  frontend/src/components/BuildAroundSeedModal.tsx
  frontend/src/services/api/decks.ts
  frontend/src/test/msw/handlers.ts
  internal/api/handlers/deck.go
  internal/api/router.go
  internal/gui/deck_facade.go
  internal/mtga/recommendations/seed_deck_builder.go
  internal/mtga/recommendations/seed_deck_builder_test.go
Due: unittests, frontend

Add performance-based card recommendations (#771)
  frontend/src/components/CardPerformancePanel.css
  frontend/src/components/CardPerformancePanel.test.tsx
  frontend/src/components/CardPerformancePanel.tsx
  frontend/src/services/api/decks.ts
  go.mod
  go.sum
  internal/api/handlers/deck.go
  internal/api/router.go
  internal/gui/deck_facade.go
  internal/storage/models/card_performance.go
  internal/storage/repository/card_performance_repo.go
  internal/storage/repository/card_performance_repo_test.go
  internal/storage/service.go
Due: unittests, frontend

Fix gofumpt formatting and TypeScript type imports
  frontend/src/components/CardPerformancePanel.tsx
  internal/gui/deck_facade.go
  internal/storage/service.go
Due: unittests, frontend

Fix CodeRabbit review comments
  frontend/src/components/BuildAroundSeedModal.test.tsx
  frontend/src/components/BuildAroundSeedModal.tsx
  frontend/src/services/api/decks.ts
  frontend/src/test/msw/handlers.ts
  internal/mtga/recommendations/seed_deck_builder.go
  internal/mtga/recommendations/seed_deck_builder_test.go
Due: unittests, frontend

Add deck notes and play improvement suggestions (#772)
  frontend/src/components/DeckNotesPanel.css
  frontend/src/components/DeckNotesPanel.test.tsx
  frontend/src/components/DeckNotesPanel.tsx
  frontend/src/components/ImprovementSuggestionsPanel.css
  frontend/src/components/ImprovementSuggestionsPanel.test.tsx
  frontend/src/components/ImprovementSuggestionsPanel.tsx
  frontend/src/components/MatchNotesModal.css
  frontend/src/components/MatchNotesModal.test.tsx
  frontend/src/components/MatchNotesModal.tsx
  frontend/src/pages/DeckBuilder.css
  frontend/src/pages/DeckBuilder.tsx
  frontend/src/services/api/index.ts
  frontend/src/services/api/notes.ts
  frontend/src/test/mocks/apiMock.ts
  internal/api/handlers/notes.go
  internal/api/router.go
  internal/mtga/analysis/play_analyzer.go
  internal/mtga/analysis/suggestion_generator.go
  internal/storage/migrations/000032_add_notes_and_suggestions.down.sql
  internal/storage/migrations/000032_add_notes_and_suggestions.up.sql
  internal/storage/models/notes.go
  internal/storage/repository/notes_repo.go
  internal/storage/repository/notes_repo_test.go
  internal/storage/repository/suggestion_repo.go
  internal/storage/repository/suggestion_repo_test.go
  internal/storage/service.go
Due: unittests, frontend

Fix E2E test failure - return empty arrays instead of null
  internal/api/handlers/standard.go
Due: unittests

Address PR review comments
  frontend/src/services/api/notes.ts
  internal/api/handlers/notes.go
  internal/mtga/analysis/play_analyzer.go
  internal/mtga/analysis/suggestion_generator.go
  internal/storage/repository/suggestion_repo.go
Due: unittests, frontend

Address PR review comments - fix type contracts and add tests
  frontend/src/components/BuildAroundSeedModal.tsx
  frontend/src/services/api/decks.ts
  internal/gui/deck_facade.go
  internal/mtga/recommendations/seed_deck_builder.go
  internal/mtga/recommendations/seed_deck_builder_test.go
Due: unittests, frontend

Fix E2E test failure - return empty arrays instead of null (#847)
  internal/api/handlers/standard.go
Due: unittests

Address PR review comments for card performance
  internal/api/handlers/deck.go
  internal/gui/deck_facade.go
  internal/storage/repository/card_performance_repo.go
Due: unittests

Add export draft to 17Lands JSON format (#265)
  frontend/src/pages/Draft.css
  frontend/src/pages/Draft.tsx
  frontend/src/services/api/drafts.test.ts
  frontend/src/services/api/drafts.ts
  frontend/src/test/msw/handlers.ts
  internal/api/handlers/draft.go
  internal/api/router.go
  internal/export/draft_17lands.go
  internal/export/draft_17lands_test.go
  internal/gui/draft_facade.go
Due: unittests, frontend

Add deck export to external platforms (Moxfield, Archidekt)
  frontend/src/pages/Decks.css
  frontend/src/pages/Decks.test.tsx
  frontend/src/pages/Decks.tsx
  frontend/src/test/msw/handlers.ts
  internal/export/decks.go
  internal/gui/deck_facade.go
  internal/mtga/deckexport/exporter.go
  internal/mtga/deckexport/exporter_test.go
Due: unittests, frontend

Fix ExportDeckResponse property casing (camelCase)
  frontend/src/pages/Decks.test.tsx
  frontend/src/pages/Decks.tsx
  frontend/src/test/msw/handlers.ts
Due: frontend

Add deck notes and play improvement suggestions (#846)
  frontend/src/components/DeckNotesPanel.css
  frontend/src/components/DeckNotesPanel.test.tsx
  frontend/src/components/DeckNotesPanel.tsx
  frontend/src/components/ImprovementSuggestionsPanel.css
  frontend/src/components/ImprovementSuggestionsPanel.test.tsx
  frontend/src/components/ImprovementSuggestionsPanel.tsx
  frontend/src/components/MatchNotesModal.css
  frontend/src/components/MatchNotesModal.test.tsx
  frontend/src/components/MatchNotesModal.tsx
  frontend/src/pages/DeckBuilder.css
  frontend/src/pages/DeckBuilder.tsx
  frontend/src/services/api/index.ts
  frontend/src/services/api/notes.ts
  frontend/src/test/mocks/apiMock.ts
  internal/api/handlers/notes.go
  internal/api/router.go
  internal/mtga/analysis/play_analyzer.go
  internal/mtga/analysis/suggestion_generator.go
  internal/storage/migrations/000032_add_notes_and_suggestions.down.sql
  internal/storage/migrations/000032_add_notes_and_suggestions.up.sql
  internal/storage/models/notes.go
  internal/storage/repository/notes_repo.go
  internal/storage/repository/notes_repo_test.go
  internal/storage/repository/suggestion_repo.go
  internal/storage/repository/suggestion_repo_test.go
  internal/storage/service.go
Due: unittests, frontend

Fix CodeRabbit review issues for card performance feature
  internal/api/handlers/deck.go
  internal/gui/deck_facade.go
  internal/gui/services.go
  internal/storage/repository/card_performance_repo.go
  internal/storage/repository/card_performance_repo_test.go
Due: unittests

Fix CodeRabbit review issues for deck export
  frontend/src/pages/Decks.test.tsx
  frontend/src/test/msw/handlers.ts
Due: frontend

Fix CodeRabbit review issues for 17Lands export
  internal/export/draft_17lands.go
  internal/export/draft_17lands_test.go
Due: unittests

Fix CodeRabbit issues for PR #844 (Complete deck generation)
  frontend/src/services/api/decks.ts
  internal/gui/deck_facade.go
  internal/mtga/recommendations/seed_deck_builder.go
Due: unittests, frontend

Fix test mock types for ArchetypeProfile and CardWithQuantity
  frontend/src/components/BuildAroundSeedModal.test.tsx
Due: frontend

Fix TypeScript type issues in BuildAroundSeedModal tests
  frontend/src/components/BuildAroundSeedModal.test.tsx
  frontend/src/services/api/decks.ts
Due: frontend

Add deck export to external platforms (Moxfield, Archidekt) (#849)
  frontend/src/pages/Decks.css
  frontend/src/pages/Decks.test.tsx
  frontend/src/pages/Decks.tsx
  frontend/src/test/msw/handlers.ts
  internal/export/decks.go
  internal/gui/deck_facade.go
  internal/mtga/deckexport/exporter.go
  internal/mtga/deckexport/exporter_test.go
Due: unittests, frontend

Add performance-based card recommendations (#771) (#845)
  frontend/src/components/CardPerformancePanel.css
  frontend/src/components/CardPerformancePanel.test.tsx
  frontend/src/components/CardPerformancePanel.tsx
  frontend/src/services/api/decks.ts
  go.mod
  go.sum
  internal/api/handlers/deck.go
  internal/api/router.go
  internal/gui/deck_facade.go
  internal/gui/services.go
  internal/storage/models/card_performance.go
  internal/storage/repository/card_performance_repo.go
  internal/storage/repository/card_performance_repo_test.go
  internal/storage/service.go
Due: unittests, frontend

Add complete deck generation from seed card (#774) (#844)
  frontend/src/components/BuildAroundSeedModal.css
  frontend/src/components/BuildAroundSeedModal.test.tsx
  frontend/src/components/BuildAroundSeedModal.tsx
  frontend/src/services/api/decks.ts
  frontend/src/test/msw/handlers.ts
  internal/api/handlers/deck.go
  internal/api/router.go
  internal/gui/deck_facade.go
  internal/mtga/recommendations/seed_deck_builder.go
  internal/mtga/recommendations/seed_deck_builder_test.go
Due: unittests, frontend

Fix TypeScript errors and inconsistent error handling
  frontend/src/services/api/drafts.test.ts
  internal/export/draft_17lands.go
Due: unittests, frontend

Add validation for missing pack contents in 17Lands export
  internal/export/draft_17lands.go
Due: unittests
