Repository RdHamilton/MTGA-Companion: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, frontend

codecov.yml:

# Codecov configuration
# https://docs.codecov.com/docs/codecovyml-reference

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%  # Allow 1% decrease from base
    patch:
      default:
        target: 50%  # Require 50% coverage on new code
        threshold: 5%  # Allow 5% variance

  # Exclude test files and generated code from coverage
  ignore:
    - "**/*_test.go"
    - "**/test/**"
    - "**/mocks/**"
    - "frontend/src/test/**"

# Flags for different test suites
flags:
  unittests:
    paths:
      - internal/
      - cmd/
    carryforward: true
  frontend:
    paths:
      - frontend/src/
    carryforward: true

# Comment configuration for PRs
comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: true

Fix CodeRabbit review issues
  frontend/src/services/api/decks.ts
  frontend/src/test/msw/handlers.ts
Due: frontend

Add ML-powered suggestion engine with synergy analysis (#770)
  frontend/src/components/MLSuggestionsPanel.css
  frontend/src/components/MLSuggestionsPanel.test.tsx
  frontend/src/components/MLSuggestionsPanel.tsx
  frontend/src/services/api/index.ts
  frontend/src/services/api/mlSuggestions.ts
  frontend/src/test/mocks/apiMock.ts
  internal/api/handlers/ml_suggestions.go
  internal/api/router.go
  internal/mtga/analysis/ml_engine.go
  internal/storage/migrations/000033_add_ml_suggestion_engine.down.sql
  internal/storage/migrations/000033_add_ml_suggestion_engine.up.sql
  internal/storage/models/ml_suggestions.go
  internal/storage/repository/ml_suggestion_repo.go
  internal/storage/service.go
Due: unittests, frontend

Add export draft to 17Lands JSON format (#265) (#848)
  frontend/src/pages/Draft.css
  frontend/src/pages/Draft.tsx
  frontend/src/services/api/drafts.test.ts
  frontend/src/services/api/drafts.ts
  frontend/src/test/msw/handlers.ts
  internal/api/handlers/draft.go
  internal/api/router.go
  internal/export/draft_17lands.go
  internal/export/draft_17lands_test.go
  internal/gui/draft_facade.go
Due: unittests, frontend

Address PR review comments
  internal/api/handlers/ml_suggestions.go
  internal/api/router.go
  internal/storage/migrations/000033_add_ml_suggestion_engine.up.sql
Due: unittests

Address additional PR review comments
  frontend/src/components/MLSuggestionsPanel.css
  internal/mtga/analysis/ml_engine.go
  internal/storage/repository/ml_suggestion_repo.go
Due: unittests, frontend

Add unit tests for ml_suggestion_repo.go
  internal/storage/repository/ml_suggestion_repo_test.go
Due: unittests

Add more tests for ml_suggestion_repo.go coverage
  internal/storage/repository/ml_suggestion_repo_test.go
Due: unittests

Address CodeRabbit review comments
  frontend/src/components/MLSuggestionsPanel.css
  internal/storage/repository/ml_suggestion_repo.go
Due: unittests, frontend

Add ML-powered suggestion engine with synergy analysis (#770) (#850)
  frontend/src/components/MLSuggestionsPanel.css
  frontend/src/components/MLSuggestionsPanel.test.tsx
  frontend/src/components/MLSuggestionsPanel.tsx
  frontend/src/services/api/index.ts
  frontend/src/services/api/mlSuggestions.ts
  frontend/src/test/mocks/apiMock.ts
  internal/api/handlers/ml_suggestions.go
  internal/api/router.go
  internal/mtga/analysis/ml_engine.go
  internal/storage/migrations/000033_add_ml_suggestion_engine.down.sql
  internal/storage/migrations/000033_add_ml_suggestion_engine.up.sql
  internal/storage/models/ml_suggestions.go
  internal/storage/repository/ml_suggestion_repo.go
  internal/storage/repository/ml_suggestion_repo_test.go
  internal/storage/service.go
Due: unittests, frontend

Add opponent deck analysis and meta matching (#775)
  frontend/src/components/MatchDetailsModal.tsx
  frontend/src/components/OpponentAnalysisPanel.css
  frontend/src/components/OpponentAnalysisPanel.test.tsx
  frontend/src/components/OpponentAnalysisPanel.tsx
  frontend/src/services/api/index.ts
  frontend/src/services/api/opponents.test.ts
  frontend/src/services/api/opponents.ts
  frontend/src/test/msw/handlers.ts
  go.mod
  go.sum
  internal/api/handlers/opponent.go
  internal/api/router.go
  internal/mtga/analysis/opponent_analyzer.go
  internal/mtga/analysis/opponent_analyzer_test.go
  internal/storage/migrations/000034_add_opponent_analysis.down.sql
  internal/storage/migrations/000034_add_opponent_analysis.up.sql
  internal/storage/models/opponent.go
  internal/storage/repository/opponent_repo.go
  internal/storage/service.go
Due: unittests, frontend

Fix ML engine idempotency and add separate card stats tracking (#851, #852)
  internal/mtga/analysis/ml_engine.go
  internal/storage/migrations/000035_add_ml_processing_tracking.down.sql
  internal/storage/migrations/000035_add_ml_processing_tracking.up.sql
  internal/storage/models/ml_suggestions.go
  internal/storage/repository/match_repo.go
  internal/storage/repository/match_repo_test.go
  internal/storage/repository/ml_suggestion_repo.go
  internal/storage/repository/ml_suggestion_repo_test.go
Due: unittests

Address CodeRabbit review comments for PR #853
  frontend/src/components/MatchDetailsModal.tsx
  frontend/src/components/OpponentAnalysisPanel.css
  frontend/src/components/OpponentAnalysisPanel.tsx
  frontend/src/services/api/opponents.ts
  internal/api/handlers/opponent.go
  internal/mtga/analysis/opponent_analyzer.go
  internal/storage/repository/opponent_repo.go
Due: unittests, frontend

Add opponent deck analysis and meta matching (#775) (#853)
  frontend/src/components/MatchDetailsModal.tsx
  frontend/src/components/OpponentAnalysisPanel.css
  frontend/src/components/OpponentAnalysisPanel.test.tsx
  frontend/src/components/OpponentAnalysisPanel.tsx
  frontend/src/services/api/index.ts
  frontend/src/services/api/opponents.test.ts
  frontend/src/services/api/opponents.ts
  frontend/src/test/msw/handlers.ts
  go.mod
  go.sum
  internal/api/handlers/opponent.go
  internal/api/router.go
  internal/mtga/analysis/opponent_analyzer.go
  internal/mtga/analysis/opponent_analyzer_test.go
  internal/storage/migrations/000034_add_opponent_analysis.down.sql
  internal/storage/migrations/000034_add_opponent_analysis.up.sql
  internal/storage/models/opponent.go
  internal/storage/repository/opponent_repo.go
  internal/storage/service.go
Due: unittests, frontend

Address CodeRabbit review comments for PR #854
  internal/mtga/analysis/ml_engine.go
  internal/storage/migrations/000035_add_ml_processing_tracking.down.sql
  internal/storage/repository/ml_suggestion_repo.go
Due: unittests

Address additional CodeRabbit review comments for PR #854
  internal/mtga/analysis/ml_engine.go
  internal/storage/migrations/000035_add_ml_processing_tracking.down.sql
  internal/storage/repository/ml_suggestion_repo.go
Due: unittests

Optimize UpdateSeparateStatsFromIndividual query and fix comment
  internal/storage/repository/ml_suggestion_repo.go
Due: unittests

Fix ML engine idempotency and add separate card stats (#851, #852) (#854)
  internal/mtga/analysis/ml_engine.go
  internal/storage/migrations/000035_add_ml_processing_tracking.down.sql
  internal/storage/migrations/000035_add_ml_processing_tracking.up.sql
  internal/storage/models/ml_suggestions.go
  internal/storage/repository/match_repo.go
  internal/storage/repository/match_repo_test.go
  internal/storage/repository/ml_suggestion_repo.go
  internal/storage/repository/ml_suggestion_repo_test.go
Due: unittests

Add ML suggestion engine settings and preferences (#804)
  frontend/src/components/settings/sections/MLSettingsSection.tsx
  frontend/src/hooks/useSettings.ts
  frontend/src/pages/Settings.tsx
  frontend/src/services/api/mlSuggestions.ts
  frontend/src/types/models.ts
  internal/api/handlers/ml_suggestions.go
  internal/api/handlers/settings.go
  internal/api/router.go
  internal/gui/settings_facade.go
  internal/storage/repository/ml_suggestion_repo.go
Due: unittests, frontend

Fix MLSettingsSection tests for new ML suggestion preference props
  frontend/src/components/settings/sections/MLSettingsSection.test.tsx
Due: frontend

Add ML suggestion engine settings and preferences (#858)
  frontend/src/components/settings/sections/MLSettingsSection.test.tsx
  frontend/src/components/settings/sections/MLSettingsSection.tsx
  frontend/src/hooks/useSettings.ts
  frontend/src/pages/Settings.tsx
  frontend/src/services/api/mlSuggestions.ts
  frontend/src/types/models.ts
  internal/api/handlers/ml_suggestions.go
  internal/api/handlers/settings.go
  internal/api/router.go
  internal/gui/settings_facade.go
  internal/storage/repository/ml_suggestion_repo.go
Due: unittests, frontend

Add loading states and progress indicators (#805)
  frontend/src/components/BuildAroundSeedModal.css
  frontend/src/components/BuildAroundSeedModal.tsx
  frontend/src/components/MLSuggestionsPanel.css
  frontend/src/components/MLSuggestionsPanel.test.tsx
  frontend/src/components/MLSuggestionsPanel.tsx
  frontend/src/components/ProgressBar.css
  frontend/src/components/ProgressBar.test.tsx
  frontend/src/components/ProgressBar.tsx
  frontend/src/components/ProgressModal.css
  frontend/src/components/ProgressModal.test.tsx
  frontend/src/components/ProgressModal.tsx
  frontend/src/context/TaskProgressContext.test.tsx
  frontend/src/context/TaskProgressContext.tsx
  frontend/src/hooks/useProgressTask.test.tsx
  frontend/src/hooks/useProgressTask.ts
  frontend/src/main.tsx
Due: frontend

Add undo/redo functionality to deck builder (#807)
  frontend/src/hooks/useDeckUndoRedo.test.tsx
  frontend/src/hooks/useDeckUndoRedo.ts
  frontend/src/hooks/useUndoRedo.test.tsx
  frontend/src/hooks/useUndoRedo.ts
  frontend/src/pages/DeckBuilder.css
  frontend/src/pages/DeckBuilder.tsx
Due: frontend

Fix useProgressTask test TypeScript errors
  frontend/src/hooks/useProgressTask.test.tsx
Due: frontend

Fix TypeScript errors in useDeckUndoRedo tests
  frontend/src/hooks/useDeckUndoRedo.test.tsx
  frontend/src/hooks/useDeckUndoRedo.ts
Due: frontend

Fix DeckWithCards import in useDeckUndoRedo tests
  frontend/src/hooks/useDeckUndoRedo.test.tsx
Due: frontend

Fix DeckWithCards type cast in test helper
  frontend/src/hooks/useDeckUndoRedo.test.tsx
Due: frontend

Add loading states and progress indicators (#805) (#855)
  frontend/src/components/BuildAroundSeedModal.css
  frontend/src/components/BuildAroundSeedModal.tsx
  frontend/src/components/MLSuggestionsPanel.css
  frontend/src/components/MLSuggestionsPanel.test.tsx
  frontend/src/components/MLSuggestionsPanel.tsx
  frontend/src/components/ProgressBar.css
  frontend/src/components/ProgressBar.test.tsx
  frontend/src/components/ProgressBar.tsx
  frontend/src/components/ProgressModal.css
  frontend/src/components/ProgressModal.test.tsx
  frontend/src/components/ProgressModal.tsx
  frontend/src/context/TaskProgressContext.test.tsx
  frontend/src/context/TaskProgressContext.tsx
  frontend/src/hooks/useProgressTask.test.tsx
  frontend/src/hooks/useProgressTask.ts
  frontend/src/main.tsx
Due: frontend

Add undo/redo functionality to deck builder (#807) (#856)
  frontend/src/hooks/useDeckUndoRedo.test.tsx
  frontend/src/hooks/useDeckUndoRedo.ts
  frontend/src/hooks/useUndoRedo.test.tsx
  frontend/src/hooks/useUndoRedo.ts
  frontend/src/pages/DeckBuilder.css
  frontend/src/pages/DeckBuilder.tsx
Due: frontend

Add in-app documentation and help icons (#808)
  README.md
  frontend/src/components/BuildAroundSeedModal.tsx
  frontend/src/components/HelpIcon.css
  frontend/src/components/HelpIcon.test.tsx
  frontend/src/components/HelpIcon.tsx
  frontend/src/components/ImprovementSuggestionsPanel.tsx
  frontend/src/components/MLSuggestionsPanel.tsx
  frontend/src/pages/DeckBuilder.test.tsx
  frontend/src/pages/DeckBuilder.tsx
Due: frontend

Fix HelpIcon test unused imports
  frontend/src/components/HelpIcon.test.tsx
Due: frontend

Add in-app documentation and help icons (#808) (#857)
  README.md
  frontend/src/components/BuildAroundSeedModal.tsx
  frontend/src/components/HelpIcon.css
  frontend/src/components/HelpIcon.test.tsx
  frontend/src/components/HelpIcon.tsx
  frontend/src/components/ImprovementSuggestionsPanel.tsx
  frontend/src/components/MLSuggestionsPanel.tsx
  frontend/src/pages/DeckBuilder.test.tsx
  frontend/src/pages/DeckBuilder.tsx
Due: frontend

Integrate MatchNotesModal into Match History page (#772)
  frontend/src/pages/MatchHistory.css
  frontend/src/pages/MatchHistory.test.tsx
  frontend/src/pages/MatchHistory.tsx
Due: frontend

Integrate MatchNotesModal into Match History page (#772) (#859)
  frontend/src/pages/MatchHistory.css
  frontend/src/pages/MatchHistory.test.tsx
  frontend/src/pages/MatchHistory.tsx
Due: frontend

Fix useRotationNotifications hook to prevent state updates after unmount (#843)
  frontend/src/hooks/useRotationNotifications.test.ts
  frontend/src/hooks/useRotationNotifications.ts
Due: frontend

Add Game Play Timeline UI to Match Details (#812)
  frontend/src/components/GamePlayTimelinePanel.css
  frontend/src/components/GamePlayTimelinePanel.test.tsx
  frontend/src/components/GamePlayTimelinePanel.tsx
  frontend/src/components/MatchDetailsModal.test.tsx
  frontend/src/components/MatchDetailsModal.tsx
Due: frontend

Add deck creation tracking for ML training (#818)
  internal/storage/migrations/000036_add_deck_creation_tracking.down.sql
  internal/storage/migrations/000036_add_deck_creation_tracking.up.sql
  internal/storage/models/models.go
  internal/storage/repository/deck_performance_repo_test.go
  internal/storage/repository/deck_permutation_repo_test.go
  internal/storage/repository/deck_repo.go
  internal/storage/repository/deck_repo_test.go
  internal/storage/service_deck_test.go
Due: unittests

Add match comparison functionality (#162)
  frontend/src/components/MatchComparisonPanel.css
  frontend/src/components/MatchComparisonPanel.test.tsx
  frontend/src/components/MatchComparisonPanel.tsx
  frontend/src/services/api/matches.ts
  internal/api/handlers/match.go
  internal/api/router.go
  internal/gui/match_facade.go
  internal/storage/match_comparison.go
Due: unittests, frontend

Fix TypeScript errors - use type imports and add required filter fields
  frontend/src/components/MatchComparisonPanel.test.tsx
  frontend/src/components/MatchComparisonPanel.tsx
Due: frontend

Fix useEffect dependencies - use hasFetchedRef to track fetch status
  frontend/src/components/GamePlayTimelinePanel.tsx
Due: frontend

Fix review comments: CSS selectors, object comparison, validation
  frontend/src/components/MatchComparisonPanel.tsx
  internal/api/handlers/match.go
Due: unittests, frontend
