Repository RdHamilton/MTGA-Companion: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, frontend

codecov.yml:

# Codecov configuration
# https://docs.codecov.com/docs/codecovyml-reference

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%  # Allow 1% decrease from base
    patch:
      default:
        target: 50%  # Require 50% coverage on new code
        threshold: 5%  # Allow 5% variance

  # Exclude test files and generated code from coverage
  ignore:
    - "**/*_test.go"
    - "**/test/**"
    - "**/mocks/**"
    - "frontend/src/test/**"

# Flags for different test suites
flags:
  unittests:
    paths:
      - internal/
      - cmd/
    carryforward: true
  frontend:
    paths:
      - frontend/src/
    carryforward: true

# Comment configuration for PRs
comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: true

Fix Collection page blinking and constant fetching during auto-refresh
  frontend/src/pages/Collection.test.tsx
  frontend/src/pages/Collection.tsx
Due: frontend

Fix onClick handler for loadCollection with optional parameter
  frontend/src/pages/Collection.tsx
Due: frontend

Fix potential memory leak: clear auto-refresh timeout on unmount
  frontend/src/pages/Collection.tsx
Due: frontend

Fix Collection page blinking and constant fetching during auto-refresh (#786)
  frontend/src/pages/Collection.test.tsx
  frontend/src/pages/Collection.tsx
Due: frontend

Fix daily/weekly wins calculation to use MTGA 9 AM UTC reset time
  internal/storage/repository/match_repo.go
  internal/storage/repository/match_repo_test.go
Due: unittests

Fix quest reroll detection when MTGA reuses questId
  internal/mtga/logreader/quests.go
  internal/mtga/logreader/quests_test.go
Due: unittests

Fix quest data sync - MTGA reset time and reroll detection (#787)
  internal/mtga/logreader/quests.go
  internal/mtga/logreader/quests_test.go
  internal/storage/repository/match_repo.go
  internal/storage/repository/match_repo_test.go
Due: unittests

Fix timestamp timezone handling for accurate daily wins calculation
  internal/mtga/logreader/draft_picks.go
  internal/mtga/logreader/quests.go
Due: unittests

Add diagnostic logging for quest sync debugging
  internal/mtga/logreader/quests.go
Due: unittests

Fix quest parser to handle empty quests response without canSwap field
  internal/mtga/logreader/quests.go
  internal/mtga/logreader/quests_test.go
Due: unittests

Fix timestamp timezone handling for accurate daily wins calculation (#788)
  internal/mtga/logreader/draft_picks.go
  internal/mtga/logreader/quests.go
  internal/mtga/logreader/quests_test.go
Due: unittests

Add integration tests for GetCollection auto-fetch logic (#785)
  internal/gui/collection_facade_autofetch_test.go
  internal/gui/services.go
  internal/storage/testing.go
Due: unittests

Add integration tests for GetCollection auto-fetch logic (#785) (#789)
  internal/gui/collection_facade_autofetch_test.go
  internal/gui/services.go
  internal/storage/testing.go
Due: unittests

Add Go 1.25 features documentation (#783)
  docs/go-1.25-features.md
Due: none

Adopt sync.WaitGroup.Go() pattern from Go 1.25 (#791)
  internal/gui/collection_facade_autofetch_test.go
  internal/mtga/cards/refresh/scheduler.go
  internal/mtga/logreader/poller_manager.go
Due: unittests

Add Go 1.25 features documentation (#783) (#792)
  docs/go-1.25-features.md
Due: none

Adopt sync.WaitGroup.Go() pattern from Go 1.25 (#791) (#796)
  internal/gui/collection_facade_autofetch_test.go
  internal/mtga/cards/refresh/scheduler.go
  internal/mtga/logreader/poller_manager.go
Due: unittests

Fix real-time event updates by forwarding daemon events to API server
  cmd/apiserver/main.go
  internal/api/server.go
  internal/api/websocket/daemon_forwarder.go
  internal/api/websocket/daemon_forwarder_test.go
  internal/daemon/replay_engine.go
  internal/daemon/service.go
  internal/mtga/logprocessor/service_test.go
Due: unittests

Add tests for event forwarder coverage
  internal/api/server_test.go
  internal/daemon/service_forwarder_test.go
Due: unittests

Fix TestServer_NewDaemonEventForwarder_UsesServerHub to verify hub wiring
  internal/api/server_test.go
Due: unittests

Use deterministic polling for client registration in test
  internal/api/server_test.go
Due: unittests

Fix real-time event updates by forwarding daemon events to API server (#798)
  cmd/apiserver/main.go
  internal/api/server.go
  internal/api/server_test.go
  internal/api/websocket/daemon_forwarder.go
  internal/api/websocket/daemon_forwarder_test.go
  internal/daemon/replay_engine.go
  internal/daemon/service.go
  internal/daemon/service_forwarder_test.go
  internal/mtga/logprocessor/service_test.go
Due: unittests

Add deck permutation tracking system (#766)
  internal/storage/migrate_test.go
  internal/storage/migrations/000028_add_deck_permutations.down.sql
  internal/storage/migrations/000028_add_deck_permutations.up.sql
  internal/storage/models/models.go
  internal/storage/repository/deck_permutation_repo.go
  internal/storage/repository/deck_permutation_repo_test.go
Due: unittests

Address PR review: add card_hash, validation, and transaction
  internal/storage/migrations/000028_add_deck_permutations.up.sql
  internal/storage/models/models.go
  internal/storage/repository/deck_permutation_repo.go
  internal/storage/repository/deck_permutation_repo_test.go
Due: unittests

Handle RowsAffected error explicitly in CreateFromCurrentDeck
  internal/storage/repository/deck_permutation_repo.go
Due: unittests

Add missing indexes and UNIQUE constraint for deck permutations
  internal/storage/migrations/000028_add_deck_permutations.up.sql
  internal/storage/repository/deck_permutation_repo.go
  internal/storage/repository/deck_permutation_repo_test.go
Due: unittests

Add deck permutation tracking system (#766) (#809)
  internal/storage/migrate_test.go
  internal/storage/migrations/000028_add_deck_permutations.down.sql
  internal/storage/migrations/000028_add_deck_permutations.up.sql
  internal/storage/models/models.go
  internal/storage/repository/deck_permutation_repo.go
  internal/storage/repository/deck_permutation_repo_test.go
Due: unittests

Add Standard legality validation and set management (#773)
  frontend/src/services/api/__tests__/standard.test.ts
  frontend/src/services/api/index.ts
  frontend/src/services/api/standard.ts
  frontend/src/test/msw/handlers.ts
  internal/api/handlers/standard.go
  internal/api/router.go
  internal/storage/cards.go
  internal/storage/migrations/000029_add_standard_legality.down.sql
  internal/storage/migrations/000029_add_standard_legality.up.sql
  internal/storage/models/standard_models.go
  internal/storage/repository/standard_repo.go
  internal/storage/service.go
Due: unittests, frontend

Fix code review issues in Standard legality implementation
  internal/api/handlers/standard.go
  internal/storage/repository/standard_repo.go
  internal/storage/service.go
Due: unittests

Fix nil pointer dereference in TestNewServer
  internal/api/router.go
Due: unittests

Add Standard legality validation and set management (#773) (#810)
  frontend/src/services/api/__tests__/standard.test.ts
  frontend/src/services/api/index.ts
  frontend/src/services/api/standard.ts
  frontend/src/test/msw/handlers.ts
  internal/api/handlers/standard.go
  internal/api/router.go
  internal/storage/cards.go
  internal/storage/migrations/000029_add_standard_legality.down.sql
  internal/storage/migrations/000029_add_standard_legality.up.sql
  internal/storage/models/standard_models.go
  internal/storage/repository/standard_repo.go
  internal/storage/service.go
Due: unittests, frontend

Add in-game play tracking and recording (#769)
  frontend/src/services/api/__tests__/gameplays.test.ts
  frontend/src/services/api/gameplays.ts
  frontend/src/services/api/index.ts
  internal/api/handlers/gameplay.go
  internal/api/router.go
  internal/mtga/logprocessor/service.go
  internal/mtga/logreader/gre_parser.go
  internal/mtga/logreader/gre_parser_test.go
  internal/storage/migrations/000030_add_game_plays.down.sql
  internal/storage/migrations/000030_add_game_plays.up.sql
  internal/storage/models/game_plays.go
  internal/storage/repository/game_play_repo.go
  internal/storage/repository/game_play_repo_test.go
  internal/storage/service.go
Due: unittests, frontend

Fix LastInsertId unreliable on upsert in CreateSnapshots batch method
  internal/storage/repository/game_play_repo.go
Due: unittests

Remove unused GameID field from GamePlaySummary
  internal/storage/models/game_plays.go
Due: unittests

Add JSON and db struct tags to game play models
  internal/storage/models/game_plays.go
Due: unittests

Fix basic lands exemption and date parsing issues
  internal/api/handlers/standard.go
  internal/storage/repository/standard_repo.go
Due: unittests

Add in-game play tracking and recording (#769) (#811)
  frontend/src/services/api/__tests__/gameplays.test.ts
  frontend/src/services/api/gameplays.ts
  frontend/src/services/api/index.ts
  internal/api/handlers/gameplay.go
  internal/api/handlers/standard.go
  internal/api/response/response.go
  internal/api/router.go
  internal/mtga/logprocessor/service.go
  internal/mtga/logreader/gre_parser.go
  internal/mtga/logreader/gre_parser_test.go
  internal/storage/migrations/000030_add_game_plays.down.sql
  internal/storage/migrations/000030_add_game_plays.up.sql
  internal/storage/models/game_plays.go
  internal/storage/repository/game_play_repo.go
  internal/storage/repository/game_play_repo_test.go
  internal/storage/repository/standard_repo.go
  internal/storage/service.go
Due: unittests, frontend

Add Build Around Card feature for deck building (#767)
  frontend/src/components/BuildAroundSeedModal.css
  frontend/src/components/BuildAroundSeedModal.test.tsx
  frontend/src/components/BuildAroundSeedModal.tsx
  frontend/src/pages/DeckBuilder.test.tsx
  frontend/src/pages/DeckBuilder.tsx
  frontend/src/services/api/decks.ts
  frontend/src/test/msw/handlers.ts
  frontend/tests/e2e/decks.spec.ts
  frontend/tests/e2e/pipeline.spec.ts
  internal/api/handlers/deck.go
  internal/api/router.go
  internal/gui/deck_facade.go
  internal/mtga/recommendations/seed_deck_builder.go
  internal/mtga/recommendations/seed_deck_builder_test.go
Due: unittests, frontend

Fix PR review comments: debounce, duplicate keys, card quantity
  frontend/src/components/BuildAroundSeedModal.tsx
  frontend/src/pages/DeckBuilder.tsx
  frontend/tests/e2e/pipeline.spec.ts
  internal/mtga/recommendations/seed_deck_builder_test.go
Due: unittests, frontend

Add iterative deck building mode to Build Around feature
  frontend/src/components/BuildAroundSeedModal.css
  frontend/src/components/BuildAroundSeedModal.test.tsx
  frontend/src/components/BuildAroundSeedModal.tsx
  frontend/src/pages/DeckBuilder.tsx
  frontend/src/services/api/decks.ts
  internal/api/handlers/deck.go
  internal/api/router.go
  internal/gui/deck_facade.go
  internal/mtga/recommendations/seed_deck_builder.go
Due: unittests, frontend
